<%= form_for([:account, @transaction], :html => { :class => "form-horizontal", :role => "form" }) do |f| %>
  <% if @transaction.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@transaction.errors.count, "erro") %> <%= @transaction.errors.count > 1 ? 'proibiram' : 'proibiu' %> esta transação de ser salva:</h4>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :transaction_type, 'Tipo de Transação', :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select(:transaction_type, [[translate_transaction_type_helper(1), 1.to_i()], [translate_transaction_type_helper(2), 2.to_i()], [translate_transaction_type_helper(3), 3.to_i()]], {}, :class => "form-control") %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :transaction_value, 'Valor', :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :transaction_value, value:0, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group" id="transfer_select__form_group">
    <%= f.label :transferred_account, 'Conta para transferência', :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select(:transferred_account, Account.get_names_not_closed(params[:account_id]), {prompt: 'Escolha a conta'}, :class => "form-control") %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit 'Salvar', :class => "btn btn-primary", data: { confirm: 'modal'} %>
    </div>
  </div>
    <div class="modal fade" id="confirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" style="z-index: 10000;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Autenticação</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group" style="margin-left: 15px !important; margin-right: 15px !important;">
                <label for="password" class="control-label">Digite a senha do usuário da conta:</label>
                <%= f.password_field :password_confirmation, :class => "form-control"  %>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary confirm">Confirmar</button>
          </div>
        </div>
      </div>
    </div>
<% end %>
