<div class="page-header">
  <%= link_to transactions_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
     Voltar
  <% end %>
  <%= link_to @transaction, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
     Mostrar
  <% end %>
  <h1>Edição de Transação</h1>
</div>

<%= render 'form' %>
