<div class="page-header">
  <%= link_to account_path(params[:account_id]), :class => 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Voltar
  <% end %>
  <%= link_to new_account_transaction_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nova Transação
  <% end %>
  <h1>Extrato Bancário</h1>
</div>
<div>
  <%= form_for account_transactions_path, method: 'get' do %>
      <%= select_date params[:created_at_gte] ? Date.new(params[:created_at_gte][:year].to_i, params[:created_at_gte][:month].to_i, params[:created_at_gte][:day].to_i) : Date.today, {order: [:day, :month, :year],
          :use_month_names => [t(:jan), t(:feb), t(:mar), t(:apr), t(:may), t(:jun), t(:jul), t(:aug), t(:sep), t(:oct), t(:nov), t(:dec)],
          :prefix => :created_at_gte} %>
      <%= select_date  params[:created_at_lt] ? Date.new(params[:created_at_lt][:year].to_i, params[:created_at_lt][:month].to_i, params[:created_at_lt][:day].to_i) : Date.today, {order: [:day, :month, :year],
          :use_month_names => [t(:jan), t(:feb), t(:mar), t(:apr), t(:may), t(:jun), t(:jul), t(:aug), t(:sep), t(:oct), t(:nov), t(:dec)],
          :prefix => :created_at_lt} %>>
      <%= submit_tag "Filtrar", :class => 'btn btn-default' %>
  <% end %>
</div>
<br>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Tipo de Transação</th>
            <th>Valor de Transferência</th>
            <th>Taxa de Transferência</th>
            <th>Valor Total</th>
            <th>Conta Transferência</th>
            <th>Data da Transação</th>
            <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @transactions) do |transaction| %>
            <td><%= translate_transaction_type_helper(transaction.transaction_type) %></td>
            <td><%= number_to_currency(transaction.transaction_value, unit: 'R$', separator: ',', delimiter: '.') %></td>
            <td><%= number_to_currency(transaction.transaction_rate, unit: 'R$', separator: ',', delimiter: '.') %></td>
            <td><%= number_to_currency(transaction.transaction_total, unit: 'R$', separator: ',', delimiter: '.') %></td>
            <td><%= transaction.transferred_account ? Account.find(transaction.transferred_account).name : 'Própria Conta' %></td>
            <td><%= transaction.created_at.strftime("%d/%m/%Y - %H:%M") %></td>
            <td><%= link_to 'Mostrar', account_transaction_path(transaction.account,transaction) %></td>
      <% end %>
    </tbody>
  </table>
</div>
