<div class="page-header">
  <%= link_to account_transactions_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
     Voltar
  <% end %>
  <h1>Transações</h1>
</div>

<dl class="dl-horizontal">
  <dt>Tipo de Transação:</dt>
  <dd><%= translate_transaction_type_helper(@transaction.transaction_type) %></dd>

  <dt>Valor de Transferência:</dt>
  <dd><%= number_to_currency(@transaction.transaction_value, unit: 'R$', separator: ',', delimiter: '.') %></dd>

  <dt>Taxa de Transferência:</dt>
  <dd><%= number_to_currency(@transaction.transaction_rate, unit: 'R$', separator: ',', delimiter: '.') %></dd>

  <dt>Valor Total:</dt>
  <dd><%= number_to_currency(@transaction.transaction_total, unit: 'R$', separator: ',', delimiter: '.') %></dd>

  <dt>Conta Transferência:</dt>
  <dd><%= @transaction.transferred_account ? Account.find(@transaction.transferred_account).name : 'Inexistente' %></dd>

</dl>
