<%= form_for(@account, :html => { :class => "form-horizontal", :role => "form" }) do |f| %>
  <% if @account.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@account.errors.count, "error") %> <%= @transaction.errors.count > 1 ? 'proibiram' : 'proibiu' %> esta conta de ser salva:</h4>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label  :name, 'Nome', :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password, 'Senha', :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :password, :type => "password", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :bank_balance, 'Saldo Bancário', :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :bank_balance, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :closed, 'Conta Fechada?', :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :closed, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit 'Salvar', :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
