<div class="page-header">
  <%= link_to accounts_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
     Voltar
  <% end %>
  <%= link_to @account, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
     Mostrar
  <% end %>
  <h1>Editar Conta</h1>
</div>

<%= render 'form' %>
