<div class="page-header">
  <%= link_to new_account_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nova Conta
  <% end %>
  <h1>Listagem de Contas</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Nome</th>
            <th>Saldo Bancário</th>
            <th>Escolha Conta</th>
            <th>Situação</th>
            <th>Edição</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @accounts) do |account| %>
            <td><%= account.name %></td>
            <td><%= number_to_currency(account.bank_balance, unit: 'R$', separator: ',', delimiter: '.') %></td>
            <% if account.closed %>
                <td>Não permitido</td>
                <td>Conta Encerrada</td>
            <% else %>
                <td><%= link_to 'Utilizar Conta', account %></td>
                <td>Conta Ativa</td>
            <% end %>
            <td><%= link_to 'Editar', edit_account_path(account) %></td>
      <% end %>
    </tbody>
  </table>
</div>
