<div class="page-header">
  <%= link_to accounts_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <h1>Nova Conta</h1>
</div>

<%= render 'form' %>
