<div class="page-header">
  <%= link_to accounts_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
     Voltar
  <% end %>
  <%= link_to edit_account_path(@account), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
     Editar
  <% end %>
  <h1>Conta Bancária</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @account.name %></dd>

  <dt>Saldo Bancário:</dt>
  <dd><%= number_to_currency(@account.bank_balance, unit: 'R$', separator: ',', delimiter: '.') %></dd>

  <dt>Situação da Conta:</dt>
  <dd><%= @account.closed ? 'Conta Encerrada' : 'Conta Ativa' %></dd>

</dl>
<%= link_to account_transactions_path(@account.id), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
  Extrato Bancário
<% end %> |
<%= link_to new_account_transaction_path(@account.id), :class => 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-plus"></span>
  Nova Transação Financeira
<% end %>